@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --menu-font-size: 14px;
    --menu-hover-color: #ffb800;
    --white: #fff;
    --white-25: #fbfaf9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Karla', sans-serif;
    color: #575757;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

picture {
    display: block;
}

svg {
    width: 20;
    height: 20;
    fill: none;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}


/* UTILITY CLASSES */
.white {
    color: var(--white);
}

.white-25 {
    color: var(--white-25);
}

.btn {
    border: 0;
    border-radius: 0;
    height: 48px;
    padding: 14px 32px;
    color: #1c1e23;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .18em;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.btn-primary {
    color: #fff;
}

.btn-info {
    color: #fff;
    border: 1px solid #81001f;
    background:linear-gradient(90deg,transparent 50%, #81001f 0);
    background-size: 202% 100%;
    background-position: 100% 100%;
    transition: all .3s ease-out;
}

.btn-orange {
    color: #fff;
    border: 1px solid #ad8a19;
    background: linear-gradient(90deg, transparent 50%, #ad8a19 0);
    background-size: 202% 100%;
    background-position: 100% 100%;
    transition: all 0.3s ease-out;
    font-size:14px;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: none;
    height: 88px;
}

header:before {
    content: "";
    position: fixed;
    top: 87px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: unset;
    height: 1px;
    z-index: 1;
}

.nav__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: rgba(104, 96, 88, 0.9);
    transition: background .6s ease;
    padding: 0 64px;
}

/* HEADER - BRAND */

.nav__header .nav__header__brand {
    max-width: 136px;
    width: 100%;
    margin-top: 8px;
}

.nav__header .nav__header__brand img {
    width: 85px;
    height: 48px;
}

/* HEADER - MENU */
.nav__header__menus {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 48px;
}

.nav__header__menus .nav__header__menu {
    position: relative;
    padding: 0;
    margin: 0;
}

.nav__header__menus .nav__header__menu:not(:last-child) {
    margin-right: 40px;
}

.nav__header__menus .nav__header__menu>a {
    font-size: var(--menu-font-size);
    letter-spacing: .18em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    transition: all .6s ease-in-out;
    height: 88px;
    display: inline-block;
    padding-top: 38px;
    position: relative;
}

.nav__header__menus .nav__header__menu>a:hover,
.nav__header__menus .nav__header__menu a.is-hover {
    color: var(--menu-hover-color);
    border-bottom: 2px solid var(--menu-hover-color);
    transition: none;
}

.nav__header__menus .nav__header__menu .nav__header__dropdown__menu {
    position: fixed;
    top: 87px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 40px 64px;
    overflow: hidden;
    z-index: 100;
    background: rgba(29, 29, 29, .85);
    height: auto;
    transition: transform .3s cubic-bezier(.2, 0, .2, 1), opacity .2s cubic-bezier(.2, 0, .2, 1), -webkit-transform .3s cubic-bezier(.2, 0, .2, 1);
    transform-origin: top;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    transform: translateY(0) scaleY(.01);
    opacity: .01;
    clip: rect(1px);
}

.nav__header__menus .is-hover .nav__header__dropdown__menu {
    transform: translateY(0) scaleY(1);
    opacity: 1;
    clip: auto;
}

.nav__header__dropdown__menu>.nav__header__dropdown__menu__item {
    color: var(--white);
    width: 100%;
}

.nav__header__dropdown__menu>.nav__header__dropdown__menu__item a:first-child {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .18em;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    transition: all .6s ease;
    color: inherit;
}

.nav__header__dropdown__menu>.nav__header__dropdown__menu__item:not(:last-child) {
    margin-right: 24px;
}

.nav__header__dropdown__menu>.nav__header__dropdown__menu__item .menu__item__desc,
.nav__header__dropdown__menu>.nav__header__dropdown__menu__item .menu__item__sub__menu {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    transition: all .6s ease;
    color: inherit;
}

.nav__header__dropdown__menu>.nav__header__dropdown__menu__item .menu__item__sub__menu {
    display: block;
}

.nav__header__dropdown__menu .menu__item__hover:hover {
    color: var(--menu-hover-color) !important;
    cursor: pointer;
}



/* HEADER - SEARCH */

.nav__header__search {
    margin-left: auto;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    position: relative;
}

.nav__header__search__btn {
    margin-top: 40px;
    margin-right: 32px;
    font-size: var(--menu-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .18em;
    text-transform: uppercase;
    color: var(--white);
    display: inline-flex;
    -webkit-box-align: start;
    align-items: flex-start;
    cursor: pointer;
}

.nav__header__search__btn:hover {
    color: var(--menu-hover-color);
}

.nav__header__search__btn svg {
    margin-left: 8px;
    position: relative;
    top: -5px;
    display: none;
}

.nav__header__search__btn svg:first-of-type {
    display: block;
}

.nav__header__search__btn.show svg:first-of-type {
    display: none;
}

.nav__header__search__btn svg:nth-of-type(2) {
    display: none;
}

.nav__header__search__btn.show svg:nth-of-type(2) {
    display: block;
}

.nav__header__contact__button.btn-orange {
    margin-top: 24px;
}

.nav__header__contact__button.btn-orange:hover {
    background-position: 0% -100%;
}

/* HEADER - SEARCH BAR */

.nav__header__search__bar {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 48px 16px 60px;
    overflow: hidden;
    text-align: center;
    z-index: 100;
    width: 100%;
    background: rgba(29, 29, 29, .85);
    display: none;
}

.nav__header__search__bar.show {
    display: block;
}

.nav__header__search__bar>div {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.nav__header__search__bar .custom-search-form {
    max-width: 876px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nav__header__search__bar label {
    display: none;
    margin-bottom: 16px;
    color: #a7a7a7;
    transition: all .6s ease;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.nav__header__search__bar input[type=text] {
    font-style: normal;
    line-height: 120%;
    margin: 0 0 8px;
    background: none;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    padding-bottom: 12px;
    font-weight: 275;
}

.nav__header__search__bar button {
    background: none;
    border: 0;
    position: absolute;
    bottom: 13px;
    right: 10px;
}


/* HERO SECTION */
.section__hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    transition-property: opacity, transform, -webkit-transform;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    transform: translateZ(0);
    opacity: 1;
}

.section__hero .section__hero__overlay {
    position: absolute;
    top: 145px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100vh + 145px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}

.section__hero picture {
    transform: translate(0);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.section__hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__hero__content {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 160px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.section__hero__content .content {
    max-width: 100%;
}

.section__hero__content .content h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 120%;
    margin:0;
}

.section__hero__content .content p {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    max-width: 825px;
}

.section__hero__content .content a:hover {
    background-position: 0% -100%;
}


/* MEDIA QUERIES */

@media screen and (min-width:320px) {
    .mt-16 {
        margin-top: 16px;
    }

    .mb-12 {
        margin-bottom: 12px;
    }
}

@media screen and (min-width:768px) {
    .btn-orange-primary {
        width: fit-content;
    }

    .nav__header .nav__header__brand img {
        width: 126px;
        height: 72px;
    }

    .nav__header__search_container {
        margin-right: 16px;
    }

    .section__hero__content {
        padding-left: 40px;
        padding-right: 40px;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
    }

    .section__hero__content .content .btn-info {
        width: fit-content;
    }
}

@media screen and (min-width:1024px) {
    .section__hero .section__hero__overlay {
        top: 0;
    }

    .section__hero__content {
        max-width: calc(100% - 160px);
        bottom: unset;
        margin-top: 48px;
    }

    .section__hero__content .content {
        max-width: calc(100% - 572px);
    }

    .section__hero__content .content p {
        margin: 16px 0 0;
    }
}

@media screen and (min-width:1280px) {
    .header {
        display: flex;
        height: 88px;
    }

    .nav__header__search_btn {
        margin-right: 32px;
        margin-top: 38px;
    }

    .nav__header__search__bar {
        top: 88px;
        bottom: unset;
        padding: 48px 24px 60px;
    }

    .nav__header__search__bar label {
        line-height: 153%;
    }

    .nav__header__search__bar input[type=text] {
        font-size: 28px;
        padding-bottom: 16px;
    }

    .nav__header__search__bar button {
        bottom: 20px;
    }

    .section__hero__content .content h1 {
        font-size: 64px;
    }

    .section__hero__content .content p {
        line-height: 153%;
    }
    
}